<div id="Educacion">
  <div class="section3">
    <h2>Educacion</h2>
    <div class="xp">
      <div class="carta1">
        <h3>titulo carta1</h3>
        <ng-container *ngIf="visible4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          nulla veniam, molestias esse eligendi quae fuga placeat sapiente eius?
          Qui iure voluptate nesciunt sint fugiat vero, nemo reprehenderit
          commodi quos?
        </p>
      </ng-container>
        <button class="btn" (click)="showinfo4()">
          {{ Info4 ? "+Info" : "-Info" }}
        </button>
      </div>
      <div class="carta1">
        <h3>titulo carta2</h3>
        <ng-container *ngIf="visible4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          nulla veniam, molestias esse eligendi quae fuga placeat sapiente eius?
          Qui iure voluptate nesciunt sint fugiat vero, nemo reprehenderit
          commodi quos?
        </p>
      </ng-container>
        <button class="btn" (click)="showinfo5()">
          {{ Info5 ? "+Info" : "-Info" }}
        </button>
      </div>
      <div class="carta1">
        <h3>titulo carta3</h3>
        <ng-container *ngIf="visible4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          nulla veniam, molestias esse eligendi quae fuga placeat sapiente eius?
          Qui iure voluptate nesciunt sint fugiat vero, nemo reprehenderit
          commodi quos?
        </p>
      </ng-container>
        <button class="btn" (click)="showinfo6()">
          {{ Info6 ? "+Info" : "-Info" }}
        </button>
      </div>
    </div>
  </div>
</div>
