<div id="Educacion" class="section ">
  <div class="section3 ">
    <h2>Educacion</h2>
    <div class="xp">
      <div class="carta1">
        <h3>titulo carta1</h3>
        <ng-container *ngIf="visible4">
          <span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              nesciunt, necessitatibus labore placeat vero ab culpa magnam enim
              quo molestias temporibus modi eveniet voluptatem, perferendis
              consectetur excepturi rerum voluptas exercitationem!
            </p>
          </span>
        </ng-container>
        <button class="btn" (click)="showinfo4()">
          {{ Info4 ? "+Info" : "-Info" }}
        </button>
      </div>
      <div class="carta1">
        <h3>titulo carta2</h3>
        <ng-container *ngIf="visible5">
          <span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              nesciunt, necessitatibus labore placeat vero ab culpa magnam enim
              quo molestias temporibus modi eveniet voluptatem, perferendis
              consectetur excepturi rerum voluptas exercitationem!
            </p>
          </span>
        </ng-container>
        <button class="btn" (click)="showinfo5()">
          {{ Info5 ? "+Info" : "-Info" }}
        </button>
      </div>
      <div class="carta1">
        <h3>titulo carta3</h3>
        <ng-container *ngIf="visible6">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            nesciunt, necessitatibus labore placeat vero ab culpa magnam enim quo
            molestias temporibus modi eveniet voluptatem, perferendis consectetur
            excepturi rerum voluptas exercitationem!
          </p>
        </ng-container>
        <button class="btn" (click)="showinfo6()">
          {{ Info6 ? "+Info" : "-Info" }}
        </button>
      </div>
    </div>
  </div>
</div>
