.section5 {
  background-color: rgb(255, 255, 255);
  min-height: 649px;
}

h1 {
  position: relative;
  top: 50px;
}


.card1 {
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
  top: 100px;
  margin: 10px 10px 50px 10px;
  
}

@media (min-width: 720px) {

  .section5 {
    height: 100vh;
  }

  h1 {
    position: relative;
    top: 120px;
  }

  .card1 {
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
    top: 200px;
    margin: 10px 10px 50px 10px;
    
  }
}