<div class="section1" id="about">
  <div class="section1">
    <div class="banner">
      <div class="posfoto">
        <div class="foto"></div>
      </div>
      <div class="acerca">
        <h1 class="h1">Hola, soy {{persona.nombre}} {{persona.apellido}}</h1>
        <p id="text-acercade">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          quam voluptatum in. Vitae assumenda ullam suscipit, exercitationem,
          possimus excepturi laborum error sit ipsam dolorum, iste deleniti
          reiciendis rerum minima sed.
        </p>
        <input
          id="edit-acercade"
          type="text"
          oninput="myFunction2(this.value)"
          style="display: none"
        />
        <button  class="btnedit" onclick="cambiar_parrafo()">
          <img class="imgedit" src="../../../assets/img/botoneditar.png" alt="editar" />
        </button>
      </div>
    </div>

    
  </div>
</div>
