.section1 {
  background-color: rgb(3, 3, 3);
  height: 667px;
  width: 100%;
}

.banner {
  position: relative;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../../../assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% center;
  height: 667px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acerca {


  text-align: end;
}

.acerca h1 {
  font-size: 2em;
  text-align: center;
  color: white;
}

.acerca p {
  font-size: 1em;
  text-align: center;
  color: white;
}

.foto {
  background-color: lightblue;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 10px 5px 50px #333,
    -10px -5px 50px #333,
    10px -5px 50px #333,
    -10px 5px 50px #333;
}

@media (min-width: 720px) {

  .section1 {
    background-color: rgb(3, 3, 3);
    height: 100vh;
    width: 100%;

  }

  .banner {
    position: relative;
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
      url("../../../assets/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    
    
  }

  .posfoto {
    position: absolute;
    top: 200px;
    left: 880px;
  }

  .foto {
    position: absolute;
    background-color: lightblue;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 10px 5px 50px #333,
      -10px -5px 50px #333,
      10px -5px 50px #333,
      -10px 5px 50px #333;
  }

  .acerca {
    position: absolute;
    min-height: 200px;
    width: 1000px;
    bottom: 200px;
  }

  
}