<div id="Skills" class="section">
  <div class="section4">
    <section>
      <h1>Hard & Soft Skills</h1>
      <div class="grid">
        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>
        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col1">
          <circle-progress
            [percent]="85"
            [radius]="50"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>
      </div>
      <div class="grid">
        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>
        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>

        <div class="col2">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="5"
            [space]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#f87e0d'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#f87e0d'"
            [unitsColor]="'#f87e0d'"
            [subtitleColor]="'#f87e0d'"
          ></circle-progress>
        </div>
      </div>
    </section>
  </div>
</div>
