<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form #f="ngForm" class="login" (ngSubmit)="onLogin()" novalidate>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" id="nombreUsuario" class="login__input" placeholder="Usuario" (ngModel)="nombreUsuario" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" id="password" class="login__input" placeholder="Contraseña" (ngModel)="password" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>




<!-- <div class="signup">
    <div class="signup-connect">
      <h1>Create your account</h1>
      <a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
      <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
      <a href="#" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
      <a href="#" class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i> Sign in with Linkedin</a>
    </div>
    <div class="signup-classic">
      <h2>Or use the classical way</h2>
      <form #f="ngForm" class="form"  (ngSubmit)="onLogin()" novalidate>
        <fieldset class="username">
          <input type="text" id="nombreUsuario" placeholder="username"  (ngModel)="nombreUsuario" required/>
        </fieldset>
        <fieldset class="password">
          <input type="password" id="password" placeholder="password" (ngModel)="password" required/>
        </fieldset>
        <button type="submit" class="btn">sign up</button>
      </form>
    </div>
  </div> -->