/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.cerrado {
  display: none;
}

.abierto{
  display: block;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #333;
  color: white;
  position: relative;
}

.logo{
  display: none;
}


@media (min-width: 720px) {


  .topnav .logo {
    display: flex;
    height: 100px;
    width: 150px;
    position: absolute;
  }

  .active .home {
    position: absolute;
    display: flex;
    width: 1000px;
    left: 200px;
    top: 27px;
  }

  /* Style the navigation menu */
  .topnav {
    display: flex;
    background-color: transparent;
    position: relative;
    justify-content: space-between;
  }

  .topnav2 {
   background-color: #333;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: flex;
    margin: 25px;
  }

  /* Style navigation menu links */
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;

  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
  }

  .topnav a:hover {
    color: orange;
  }


}