/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}

/*
  header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
  }*/

.logo {
  display: none;
}

.btn {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet;
}

.btn:hover {
  background-color: rgb(96, 57, 133);
}

.btnedit{
border: none;
background-color: transparent;
}

.imgedit{
width: 40px;
height: 40px;

}





@media (min-width: 720px) {
  
  .container {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  
  .section {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }


}